@import "tailwindcss";

@variant dark (.dark &);

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.protanopia {
  filter: url(#protanopia);
}

.deuteranopia {
  filter: url(#deuteranopia);
}

.tritanopia {
  filter: url(#tritanopia);
}

.grayscale {
  filter: grayscale(100%);
}
